<html>
    <body>
        <p>You have a new signup!</p>
        <p>-------</p>
        <p>
            {{name}}
        </p>
        <p>
            {{email}}
        </p>
            {{country}}
        </p>
        <p>
            {{reason}}
        </p>

        <br>
        <p>All the best,</p>
        <p>The OneHundred Bot</p>
  </body>
</html>