<html>
    <body>
        <p>{{name}} -</p>
        <p>Thank you for signing up to become an investor with <a href="http://onehundred.me">onehundred.me</a>.</p>
        <p>Our team is working hard to bring you the simplest investing experience ever and you&rsquo;ll receive your invitation soon.</p>
        <p>Be a teacher for your friends and family by sharing with them your personalized link below.</p>
        <p>
         This allows them to start investing for FREE for the first month. You&rsquo;ll also receive a FREE month for each friend that becomes an investor with us.</p>
        <p><a href="{{link}}">{{link}}</a></p>
        <p>We look forward to seeing your $100 monthly investments grow over time! </p>
        <p>All the best,</p>
        <p>The OneHundred Team</p>
        <p>P.S. If you have any questions feel free to reply to this email.</p>
  </body>
</html>